<%= form_with(model: event, local: true) do |form| %>
  <% if @errors_messages %>
    <div class="">
      <%= @errors_messages %>
    </div>
  <% end %>

  <div class=“field”>
   <%= form.label :title %>
   <%= form.text_field :title,  id: :event_title %>
 </div>

 <div class=“field”>
   <%= form.label :description %>
   <%= form.text_field :description, id: :event_description %>
 </div>

 <div class=“actions”>
   <%= form.submit %>
 </div>
<% end %>
